@use '../../components/buttons';



.inspiration {
    background-color: var(--color-dark-900);
}

.inspiration__title {
    font-family: var(--font-serif);
    font-size: var(--font-size-5);
    margin: 0;
    padding-top: var(--gap-xl);
    color: var(--color-accent);

}

.inspiration__content {
    margin-top: var(--gap-s);
    font-family: var(--font-sans);
    font-size: var(--font-size-2);
}

.inspiration__title, 
.inspiration__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inspiration__button {
display: flex;
justify-content: center;
align-items: center;
color: #222;

}

svg {
    opacity: 0.34;
}

.inspiration__button:hover {
    color: var(--color-dark-300);
}

// PICTURE

.image__inner {
    max-width: 1080px;
    margin: 32px auto;
}

.inspiration__image { 
    display: grid;
    position: relative;
}

//RATING

.reating {

    &__title {
        font-family: var(--font-serif);
        font-size: var(--font-size-5);
        margin: 0;
        padding-top: var(--gap-xl);
        color: var(--color-accent);
    }

    &__content {
        margin-top: var(--gap-s);
        font-family: var(--font-sans);
        font-size: var(--font-size-2);
    }

    &__title,
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button:hover {
        color: var(--color-dark-300);
    }
}



//GALLERY

.gallery {
    display: grid;
    justify-content: center;
    padding: 32px;
    gap: var(--gap-s);
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 250px);

    &__item {
        margin: 0;
        padding: 0;
    }

    &__item,
    &__image {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    &__item--tall {
        grid-row: span 2;
    }
}
