@use '../components/buttons' as button;
@use '../utilities/responsive';

.menu {
    display: flex;      //Gör att våran meny och knapp hamnar bredvid varandra
    justify-content: flex-end;  //Gör att innehåller hamnar i slutet av menyn
    align-items: center; //Gör att strecket uppe vid menyn hamnar centrerat
    gap: var(--gap-l);
    position: relative;

    &::before {
        position: absolute;
        content: '';
        display: block;
        height: 1px;
        max-width: 140px; //Enligt designen i xd
        width: 100%;
        background-color: var(--color-light);
        opacity: 0.34;
        margin: 0 var(--gap-xl) 0 0;
        right: 100%;

        @include responsive.max(1000px) { //Detta händer vid 1000px i menyn. Kan också skrivas 62.5rem
            display: none;
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;  //För att de tre kategorierna i menyn ska hamna bredvid varandra
        align-items: center;
        gap: var(--gap-l);

        @include responsive.max(55rem) { //Menylistan försvinner när sidan blir mindre vid 55rem (880px)
            display: none;
        }
    }

    &__link {
        color: var(--color-light);
        font-size: var(--font-size-2);
        transition: all 0.2s;
        &:hover {
            color:  var(--color-light-200)
        }
    }

    &__button {
        @include button.default;
        width: 34px;
        height: 34px;
        position: relative;

        //Focus is temporary until we include Javascript
        &--close,
        &:focus {

            .hamburger {
                height: 0;

                &::before, &::after {
                    top: 0;
                    transition: top 0.2s, transform 0.2s 0.2s, width 0s 0.2s;
                }

                &::before {
                    transform: rotate(45deg);
                }
                &::after {
                    width: 100%;
                    transform: rotate(-45deg);
                }

            }

         }

    }


    &__item {

        &--current {
            font-weight: 600; // Gör att ABOUT blir tjock text
        }

    }

}

.hamburger {
    position: absolute;
    top: 50%; //För att bli i mitten
    transform: translateY(-50%); // gör att den tar 50% av sin egen höjd och flyttar uppåt
    height: 2px;
    width: 100%; //Fyller knappens storlek 
    background-color: var(--color-light);
    transition: height 0s 0.2s;

    &::before,
    &::after {
        content: '';
        display: block;
        background-color: inherit; //Gör att den ärver förälderns färg (vilket är hamburger)
        height: 2px;
        width: 100%;
        position: absolute;
        top: -8px;
        transition: top 0.2s 0.2s, transform 0.2s;
    }

    &::after {
        top: 8px;
        width: 70%;
        right: 0; //gör att det sista kortare strecket utgår från höger
    }

}